dist: trusty
sudo: required
language: python
services:
  - mongodb
python:
  - "3.5"
cache:
  - pip
env:
  - POCS=$TRAVIS_BUILD_DIR PANDIR=/var/panoptes
before_install:
    - sudo mkdir /var/panoptes && sudo chmod 777 /var/panoptes
    - mkdir $PANDIR/logs
    - ln -s $TRAVIS_BUILD_DIR /var/panoptes/POCS
    - pip install coveralls
    - pip install -U pip
    - cd $HOME
    - wget http://heasarc.gsfc.nasa.gov/FTP/software/fitsio/c/cfitsio_latest.tar.gz
    - tar zxf cfitsio_latest.tar.gz
    - cd cfitsio
    - ./configure
    - make
    - make fpack
    - make funpack
    - sudo make install
    - sudo mkdir -p /var/panoptes/astrometry/data
    - sudo chmod 777 /var/panoptes/astrometry/data
addons:
  apt:
    packages:
    - gphoto2
install:
  - wget http://astrometry.net/downloads/astrometry.net-0.72.tar.gz
  - tar zxvf astrometry.net-0.72.tar.gz
  - cd astrometry.net-0.72 && make && make py && make install INSTALL_DIR=/var/panoptes/astrometry
  - echo 'add_path /var/panoptes/astrometry/data' | sudo tee --append /var/panoptes/astrometry/etc/astrometry.cfg
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$HOME/cfitsio/bin:$HOME/astrometry.net/bin:$PATH"
  - hash -r

  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a # Useful for debugging any issues with conda
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION pymongo matplotlib pandas pytest scipy pyserial pyzmq PyYAML
  - source activate test-environment

  - cd $TRAVIS_BUILD_DIR
  - pip install -r requirements.txt
  - python setup.py install
script:
  - coverage run setup.py test
  - coverage combine .coverage*
after_success:
    - if [[ $TRAVIS_PYTHON_VERSION == 3.5* ]]; then
          bash <(curl -s https://codecov.io/bash);
      fi
