dist: trusty
sudo: required
language: python
services:
  - mongodb
python:
  - "3.6"
cache:
  - pip
env:
  - POCS=$TRAVIS_BUILD_DIR PANDIR=/var/panoptes
before_install:
    - sudo mkdir /var/panoptes && sudo chmod 777 /var/panoptes
    - mkdir $PANDIR/logs
    - ln -s $TRAVIS_BUILD_DIR /var/panoptes/POCS
    - pip install coveralls
    - pip install -U pip
    - cd $HOME
    - wget http://heasarc.gsfc.nasa.gov/FTP/software/fitsio/c/cfitsio_latest.tar.gz
    - tar zxf cfitsio_latest.tar.gz
    - cd cfitsio
    - ./configure
    - make
    - make fpack
    - make funpack
    - sudo make install
    - sudo mkdir -p /var/panoptes/astrometry/data
    - sudo chmod -R 777 /var/panoptes/astrometry/
    - cd $HOME
    - export DISPLAY=:1.0
    - wget http://downloads.arduino.cc/arduino-1.8.5-linux64.tar.xz
    - tar xf arduino-1.8.5-linux64.tar.xz
    - sudo mv arduino-1.8.5 /usr/local/share/arduino
    - sudo ln -s /usr/local/share/arduino/arduino /usr/local/bin/arduino
addons:
  apt:
    packages:
    - gphoto2
    - libcairo2-dev 
    - libnetpbm10-dev 
    - netpbm
    - libpng12-dev
    - libjpeg-dev
    - python-numpy
    - python-pyfits
    - python-dev 
    - zlib1g-dev 
    - libbz2-dev 
    - swig 
    - cfitsio-dev
install:
  - wget http://astrometry.net/downloads/astrometry.net-0.72.tar.gz
  - tar zxvf astrometry.net-0.72.tar.gz
  - cd astrometry.net-0.72 && make && make py && make install INSTALL_DIR=/var/panoptes/astrometry
  - echo 'add_path /var/panoptes/astrometry/data' | sudo tee --append /var/panoptes/astrometry/etc/astrometry.cfg
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$HOME/cfitsio/bin:/var/panoptes/astrometry/bin:$PATH"
  - hash -r

  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a # Useful for debugging any issues with conda
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION
  - source activate test-environment

  - cd $TRAVIS_BUILD_DIR
  - pip install -r requirements.txt
  - python setup.py install
  - python pocs/utils/data.py
script:
  - coverage run setup.py test
  - coverage combine .coverage*
  - cd $PWD/resources/arduino_files/
  - export BOARD="arduino:avr:micro"
  - arduino --verify --board $BOARD camera_board/camera_board.ino
  - arduino --verify --board $BOARD power_board/power_board.ino
  - arduino --verify --board $BOARD telemetry_board/telemetry_board.ino

after_success:
    - if [[ $TRAVIS_PYTHON_VERSION == 3.6* ]]; then
          bash <(curl -s https://codecov.io/bash);
      fi
