dist: xenial
sudo: required
language: python
addons:
  apt:
    packages:
      - docker-ce
python:
  - "3.6"
services:
- docker
before_install:
- docker build -t panoptes-pocs:develop -f ${TRAVIS_BUILD_DIR}/docker/develop.Dockerfile ${TRAVIS_BUILD_DIR}
install: true
script:
- docker run -it
  panoptes-pocs:develop
  scripts/testing/run-tests.sh
