sudo: required
language: python
python:
  - "3.4"
  - "3.5"
cache:
  - pip
env:
  - POCS=$TRAVIS_BUILD_DIR PANDIR=$HOME
before_install:
    - sudo mkdir /var/panoptes && sudo chmod 777 /var/panoptes
    - mkdir $PANDIR/logs
    - ln -s $TRAVIS_BUILD_DIR /var/panoptes/POCS
    - pip install coveralls
    - pip install -U pip
#   - ./scripts/install-protobuf.sh
install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION pymongo matplotlib pandas pytest numpy scipy pyserial pyzmq PyYAML
  - source activate test-environment

  # Build our own astroplan for now
  - git clone https://github.com/astroplan/astroplan.git && cd astroplan && python setup.py install
  - cd $TRAVIS_BUILD_DIR
  - pip install -r requirements.txt
  - python setup.py install
script:
  - python setup.py test
  # - coverage run --source=pocs setup.py test
after_success:
    - if [[ $ENV == python=3.5* ]]; then
          coveralls;
      fi