sudo: required
language: python
python:
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5-dev" # 3.5 development branch
  - "nightly" # currently points to 3.6-dev
before_install:
  - ./scripts/install-protobuf.sh
install: "pip install -r requirements.txt"
script: py.test