options:
  machineType: "N1_HIGHCPU_8"
  substitutionOption: "ALLOW_LOOSE"
timeout: 18000s  # 5 hours

substitutions:
  _PLATFORMS: linux/amd64,linux/arm64
  _TAG: latest

steps:
  # Set up multiarch support
  - name: "gcr.io/cloud-builders/docker"
    id: "setup-buildx"
    env:
      - "DOCKER_CLI_EXPERIMENTAL=enabled"
    args:
      - "run"
      - "--privileged"
      - "--rm"
      - "docker/binfmt:a7996909642ee92942dcd6cff44b9b95f08dad64"
    waitFor: ["-"]

  # Build builder
  - name: "gcr.io/cloud-builders/docker"
    id: "build-builder"
    env:
      - "DOCKER_CLI_EXPERIMENTAL=enabled"
    args:
      - "buildx"
      - "create"
      - "--use"
      - "--driver=docker-container"
    waitFor: ["setup-buildx"]

  # Build
  - name: "gcr.io/cloud-builders/docker"
    id: "build-images"
    env:
      - "DOCKER_CLI_EXPERIMENTAL=enabled"
    args:
      - "buildx"
      - "build"
      - "--push"
      - "--platform=linux/amd64,linux/arm64"
      - "-f=docker/Dockerfile"
      - "--tag=gcr.io/${PROJECT_ID}/panoptes-pocs:${_TAG}"
      - "--cache-from=gcr.io/${PROJECT_ID}/panoptes-pocs:${_TAG}"
      - "."
    waitFor: ["build-builder"]
