version: "3.7"
services:
  pocs-config-server:
    container_name: pocs-config-server
    hostname: pocs-config-server
    image: "${IMAGE_NAME:-gcr.io/panoptes-exp/panoptes-pocs}:${TAG_NAME:-develop}"
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    restart: on-failure
    init: true
    tty: true
    ports:
      - "6563:6563"
    environment:
      PANOPTES_CONFIG_HOST: 0.0.0.0
      PANOPTES_CONFIG_PORT: 6563
      PANOPTES_CONFIG_FILE:
    command: [ "panoptes-config-server --verbose run --no-save-local --no-load-local --config-file /panoptes-pocs/conf_files/pocs.yaml" ]
    volumes:
      - config:/panoptes-pocs/conf_files
      - panlog:/panoptes-pocs/logs
  pocs-power:
    image: "${IMAGE_NAME:-gcr.io/panoptes-exp/panoptes-pocs}:${TAG_NAME:-develop}"
    container_name: pocs-power
    hostname: pocs-power
    depends_on:
      - pocs-config-server
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    restart: on-failure
    init: true
    tty: true
    stdin_open: true
    privileged: true
    network_mode: host
    environment:
      PANOPTES_CONFIG_HOST: 0.0.0.0
      PANOPTES_CONFIG_PORT: 6563
    command: [ "wait-for-it localhost:6563 -- uvicorn --host 0.0.0.0 --port 6564 panoptes.pocs.utils.service.power:app" ]
    volumes:
      - panlog:/panoptes-pocs/logs
      - json_store:/panoptes-pocs/json_store
  pocs-control:
    image: "${IMAGE_NAME:-gcr.io/panoptes-exp/panoptes-pocs}:${TAG_NAME:-develop}"
    container_name: pocs-control
    hostname: pocs-control
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    restart: on-failure
    init: true
    tty: true
    stdin_open: true
    privileged: true
    network_mode: host
    environment:
      PANOPTES_CONFIG_HOST: 0.0.0.0
      PANOPTES_CONFIG_PORT: 6563
    command: [ "wait-for-it localhost:6563 -- ipython" ]
    volumes:
      - config:/panoptes-pocs/conf_files
      - panlog:/panoptes-pocs/logs
      - images:/panoptes-pocs/images
      - json_store:/panoptes-pocs/json_store
volumes:
  panlog:
    driver: local
    driver_opts:
      type: none
      device: ./logs
      o: bind
  images:
    driver: local
    driver_opts:
      type: none
      device: ./images
      o: bind
  config:
    driver: local
    driver_opts:
      type: none
      device: ./conf_files/
      o: bind
  json_store:
    driver: local
    driver_opts:
      type: none
      device: ./json_store
      o: bind
