version: '3.7'
services:
  config-server:
    image: panoptes-pocs:latest
    build:
      context: ../
      dockerfile: docker/Dockerfile
    init: true
    tty: true
    container_name: config-server
    hostname: config-server
    network_mode: host
    environment:
      # These need to be defined in the shell on the host.
      PANDIR:
      PANLOG:
      PANOPTES_CONFIG_HOST:
      PANOPTES_CONFIG_PORT:
      PANOPTES_CONFIG_FILE:
    restart: on-failure
    volumes:
      - pocsdir:/var/panoptes/POCS
      - confdir:/var/panoptes/config_files
    command: [ "panoptes-config-server --verbose run" ]
  pocs:
    image: panoptes-pocs:latest
    build:
      context: ../
      dockerfile: docker/Dockerfile
    init: true
    container_name: pocs
    hostname: pocs
    privileged: true
    network_mode: host
    environment:
      # These need to be defined in the shell on the host.
      PANDIR:
      PANLOG:
      PANOPTES_CONFIG_HOST:
      PANOPTES_CONFIG_PORT:
      PANOPTES_CONFIG_FILE:
    volumes:
      - pocsdir:/var/panoptes/POCS
    # No-op to keep machine running, use $POCS/bin/pocs-shell to access
    command: [ "wait-for-it ${PANOPTES_CONFIG_PORT}:${PANOPTES_CONFIG_PORT} -- echo POCS yo!" ]
volumes:
  pocsdir:
    driver: local
    driver_opts:
      type: none
      device: /var/panoptes/POCS
      o: bind
  confdir:
    driver: local
    driver_opts:
      type: none
      device: /var/panoptes/config_files
      o: bind
