version: '3.7'
services:
  pocs-config-server:
    image: "${IMAGE_NAME:-gcr.io/panoptes-exp/panoptes-pocs}:${TAG_NAME:-develop}"
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    deploy:
      mode: global
    restart: on-failure
    init: true
    container_name: pocs-config-server
    hostname: pocs-config-server
    network_mode: host
    environment:
      PANOPTES_CONFIG_HOST: 0.0.0.0
      PANOPTES_CONFIG_PORT: 6563
      PANOPTES_CONFIG_FILE:
    command: [ "panoptes-config-server --verbose run --no-save-local --no-load-local --config-file /POCS/conf_files/pocs.yaml" ]
    volumes:
      - "./logs:/POCS/logs"
      - "${PANOPTES_CONFIG_FILE}:/POCS/conf_files/pocs.yaml"
  pocs-control:
    image: "${IMAGE_NAME:-gcr.io/panoptes-exp/panoptes-pocs}:${TAG_NAME:-develop}"
    depends_on:
      - pocs-config-server
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    deploy:
      mode: global
    init: true
    tty: true
    stdin_open: true
    privileged: true
    container_name: pocs-control
    hostname: pocs-control
    network_mode: host
    environment:
      PANOPTES_CONFIG_HOST: localhost
      PANOPTES_CONFIG_PORT: 6563
    command: [ "wait-for-it localhost:6563 -- ipython -i /POCS/scripts/load-simulators.py" ]
    volumes:
      - "./logs:/POCS/logs"
      - "./images:/POCS/images"
      - "./json_store:/POCS/json_store"
