#bot_chat {
  overflow-y: scroll;
  height: 250px;
}

#bot_chat img.avatar {
    border-radius: 15%
}

.blueDark.box {
    color: #000;
}

dl.metro {
  color: #646464;
}

.metro dt {
  width: 120px;
}