#bot_chat {
  overflow-y: scroll;
  height: 250px;
}

#bot_chat img.avatar {
    border: 1px solid grey;
    border-radius: 15%;
    width: 35px;
    padding: 1px;
    margin: 1px;
}

#box_chat li {
    vertical-align: top;
}

.blueDark.box {
    color: #000;
}

dl.metro {
  color: #646464;
}

.metro dt {
  width: 120px;
}

.metro dd {
    font-family: monospace;
    text-align: right;
}