name: Test Python

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - develop
      - main
jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.12" ]
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@master
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Hatch
        run: pipx install click==8.2.1 hatch
      - name: Lint with Hatch (ruff)
        run: hatch run lint
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.12" ]
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@master
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Hatch
        run: pipx install click==8.2.1 hatch pytest
      - name: Install POCS with Hatch
        run: hatch run pip install -e ".[all]"
      - name: Test with Hatch
        run: hatch run pytest
      - uses: codecov/codecov-action@v4
        with:
          name: Upload to codecov.io
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
      - name: Create log file artifact
        uses: actions/upload-artifact@v4
        with:
          name: log-files
          path: logs/panoptes-testing.log
